{% if product.metafields.custom.wine_year != blank or product.metafields.custom.winnery != blank or product.metafields.custom.region != blank %}
  <div class="card__tags">
    {% if product.metafields.custom.region != blank %}
      <span class="card__tag">{{ product.metafields.custom.region.value.title }}</span>
    {% endif %}
    {% if product.metafields.custom.wine_year != blank %}
      <span class="card__tag">{{ product.metafields.custom.wine_year }}</span>
    {% endif %}
    {% if product.metafields.custom.winnery != blank %}
      <span class="card__tag">{{ product.metafields.custom.winnery }}</span>
    {% endif %}
  </div>
{% endif %}