.collection-custom-card{
  position: relative;
  display: flex;
}

.collection-custom-card__image{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  display: flex;
  overflow: hidden;
}

.collection-custom-card__image-background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.collection-custom-card__image-img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.collection-custom-card:hover .collection-custom-card__image-img{
  transform: scale(1.05);
}

.collection-custom-card__title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  line-height: 1.1;
  font-weight: 300;
  text-align: center;
  z-index: 4;
  padding: 10px;
  width: 100%;
  color: #fff;
  font-family: var(--font-heading-family);
}

.collection-custom-card .collection-custom-card__link{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

@media screen and (max-width: 749px) {
  .collection-custom-card__image-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .collection-custom-card__title{
    font-size: 28px;
  }
}