.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    align-items: flex-start;
    margin: 0 auto;
    max-width: 53rem;
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  padding-right: 5rem;
  background-color: #FEFBF2;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  color: #4E524F;
  height: auto;
  padding: 18px 250px 18px 32px;
}

.newsletter-form__field-wrapper .field__input::placeholder,
.newsletter-form__field-wrapper .field__label {
  color: #4E524F;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}

.newsletter-form__field-wrapper .field__label{
  top: 18px;
  left: 32px;
}

.newsletter-form__field-wrapper .field:before,
.newsletter-form__field-wrapper .field:after {
  display: none;
}

.newsletter__wrapper .newsletter-form__field-wrapper .newsletter-form__button.button,
.footer-block__newsletter .newsletter-form__field-wrapper .newsletter-form__button.button{
  width: auto;
  padding: 12px 62px;
  min-height: 0;
  height: auto;
  top: 8px;
  right: 8px;
  border: none;
  background-color: rgba(var(--color-button),var(--alpha-button-background));
  color: rgb(var(--color-button-text));
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }
}

.newsletter-form__button {
  width: 4.4rem;
  margin: 0;
  right: var(--inputs-border-width);
  top: 0;
  height: 100%;
  z-index: 2;
}

.newsletter-form__button:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:focus {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.newsletter-form__button .icon {
  width: 1.5rem;
}

.newsletter-form__button .svg-wrapper,
.footer-block__newsletter .newsletter-form__button .svg-wrapper{
  display: none;
}

.newsletter-form__button .button__text,
.footer-block__newsletter .newsletter-form__button .button__text{
  display: block;
}

@media screen and (max-width: 750px) {
  .newsletter-form__button .svg-wrapper,
  .footer-block__newsletter .newsletter-form__button .svg-wrapper{
    display: block;
  }
  
  .newsletter-form__button .button__text,
  .footer-block__newsletter .newsletter-form__button .button__text{
    display: none;
  }

  .newsletter__wrapper .newsletter-form__field-wrapper .newsletter-form__button.button,
  .footer-block__newsletter .newsletter-form__field-wrapper .newsletter-form__button.button{
    padding: 12px;
    min-width: 0;
  }

  .newsletter-form__field-wrapper .field__input {
    padding-right: 60px;
  }
}