.totals {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}

.totals > h2 {
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 2rem;
}

.totals__total {
  margin: 0;
  font-size: 28px;
  line-height: 120%;
  font-weight: 500;
  font-family: var(--font-body-family);
  letter-spacing: 0;
  color: #192622;
}

.totals__total-value {
  font-size: 4rem;
  line-height: 110%;
  font-family: var(--font-heading-family);
  letter-spacing: 0;
  flex-shrink: 0;
  margin: 0;
  color: #993602;
}

.cart__ctas{
  margin-top: 20px;
}

.cart__ctas + .totals {
  margin-top: 2rem;
}

@media all and (min-width: 750px) {
  .totals {
    justify-content: flex-end;
  }
}

.totals__total-wrapper{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.totals__total-wrapper .tax-note{
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  font-style: italic;
  color: #4E524F;
  text-align: left;
  margin: 0;
}

.cart__checkout-button::after,
.cart__checkout-button::before{
  display: none;
}

.cart__checkout-button{
  background-color: #192622;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
}

@media screen and (max-width: 749px) {
  .totals__total-value{
    font-size: 32px;
  }

  .totals__total{
    font-size: 24px;
  }

  .totals__total-wrapper .tax-note{
    font-size: 12px;
  }

  .totals{
    gap: 20px;
  }
}