/* How to Book Section Styles */

.how-to-book {
  position: relative;
  overflow: hidden;
}

.how-to-book .page-width {
  max-width: 1200px;
}

.how-to-book .title {
  margin: 0;
  text-align: center;
  color: rgb(var(--color-foreground));
  font-family: var(--font-heading-family);
  font-size: 40px;
  line-height: 1.1;
  font-weight: 400;
}

.how-to-book .title-wrapper-with-link {
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 3.2rem;
}

.how-to-book .title em {
  font-style: italic;
  font-weight: 400;
}

.how-to-book__content-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 900px;
}

.how-to-book__inner {
  position: relative;
  z-index: 2;
}

.how-to-book__columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  align-items: start;
  padding: 40px 30px;
  border: 6px solid #6A492D;
}

.how-to-book__column {
  text-align: center;
}

.how-to-book__column--public {
  position: relative;
}

.how-to-book__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-to-book__card-title {
  font-family: var(--font-heading-family);
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  margin: 0;
  color: rgb(var(--color-foreground));
}

.how-to-book__card-description {
  font-size: 2rem;
  line-height: 1.4;
  margin: 0;
  color: rgb(var(--color-foreground));
  margin: 8px 0 0;
}

.how-to-book__card-description p{
  margin: 0;
}

.how-to-book__card-image {
  margin-top: 1.6rem;
}

.how-to-book__icon {
  width: 35px;
  height: auto;
  object-fit: contain;
}

.how-to-book__button {
  margin-top: 1.6rem;
  font-weight: 300;
  font-size: 20px;
  font-family: var(--font-body-family);
}

.how-to-book__bottom-text {
  text-align: center;
  padding-top: 3.2rem;
}

.how-to-book__bottom-text p{
  margin: 0 auto;
  max-width: 660px;
  text-align: center;
  color: #4E524F;
  font-size: 20px;
  line-height: 1.4;
}

.how-to-book__description {
  font-size: 1.8rem;
  line-height: 1.4;
  margin: 0;
  color: rgb(var(--color-foreground));
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Mobile Styles */
@media screen and (max-width: 749px) {  
  .how-to-book__columns {
    grid-template-columns: 1fr;
    gap: 4.8rem;
    padding: 32px 16px;
  }
  
  .how-to-book__card-title {
    font-size: 2.8rem;
    line-height: 1.1;
    font-weight: 400;
  }
  
  .how-to-book__card-description {
    font-size: 1.4rem;
    max-width: 100%;
  }
  
  .how-to-book__description {
    font-size: 1.6rem;
  }
  
  .how-to-book__bottom-text {
    padding-top: 3.2rem;
    font-size: 16px;
  }
}

@media screen and (min-width: 750px) {
  .how-to-book .title-wrapper-with-link {
    margin-bottom: 56px;
  }

  .how-to-book .title {
    font-size: 64px;
  }
}

/* Tablet Styles */
@media screen and (min-width: 750px) and (max-width: 989px) {
  .how-to-book__content-wrapper {
    padding: 0;
  }
  
  .how-to-book__card-description {
    font-size: 1.5rem;
  }
  
  .how-to-book__description {
    font-size: 1.7rem;
  }
}