.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + *:not(.inline-richtext) {
  margin-top: 2rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 55rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  color: #4E524F;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 53rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

.newsletter__heading-image .heading-image{
  width: 100%;
  height: auto;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}

@media screen and (max-width: 750px) {
  .newsletter__subheading {
    font-size: 16px;
  }
}