.region-page__image{
    display: flex;
    max-width: 1052px;
    margin: 28px auto 0;
    position: relative;
}

.region-page__image picture{
    width: 100%;
    display: flex;
}

.region-page__image-img{
    width: 100%;
    height: auto;
}

.regions{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 72px;
    margin-bottom: 72px;
}

.region{
    display: flex;
    flex-direction: column;
}

.region__title{
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 1.1;
    color: #192622;
}

.region__image{
    display: flex;
}

.region__image-img{
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.region__wineries-title,
.region__description-title{
    color: rgba(217, 141, 48, 1);
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;
}

.region__wineries{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 24px;
}

.region__wineries-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.region__winery{
    display: flex;
    position: relative;
    height: 58px;
}

.region__winery-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block!important;
}

.region__winery:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 38, 34, 0.6);
}

.region__winery-image{
    display: flex;
    width: 100%;
}

.region__winery-image-img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.region__winery-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-heading-family);
    font-size: 24px;
    line-height: 1.1;
    margin: 0;
    color: #fff;
    text-align: center;
    letter-spacing: 0;
    width: 100%;
}

.region__description-wrapper{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.region__description{
    font-size: 20px;
    line-height: 1.4;
    color: #4E524F;
}

.region__description p{
    margin: 0;
}

.region__description p:not(:last-child){
    margin-bottom: 8px;
}

.region-page__image-hover-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.region-page__image-hover-overlay svg{
    width: 100%;
    height: 100%;
}

.region-overlay{
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    &:hover{
        opacity: 1;
    }
}

.italia-mob{
    display: none;
}

@media (max-width: 767px) {
    .region-page__image{
        margin-bottom: 0;
    }

    .regions{
        margin-top: 0;
        gap: 56px;
    }

    .region__title{
        font-size: 40px;
        margin-bottom: 32px;
    }

    .region__wineries-title, 
    .region__description-title{
        font-size: 14px;
    }

    .region__wineries-list{
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    .region__winery-title{
        font-size: 20px;
    }

    .region__description{
        font-size: 16px;
    }

    .italia-mob{
        display: block;
    }

    .italia-desktop{
        display: none;
    }
}